*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

header{
    display: block;
}

main{
    display: block;
}

/*#######   HEADER  ##########*/

.title{
    text-align: center;
    background-color: #1d4b73;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: whitesmoke;       
    background-color: #34322f;
}

.nav a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "Oxygen", sans-serif;
}

.nav a:hover{
    color: yellow;
}

/*#######   MAIN  ##########*/

main h2{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-family: "Oxygen", sans-serif;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 4rem;
    margin-right: 4rem;
    gap: 1rem;
    margin-bottom: 2rem;
}

/*#######   CARDS (SECTIONS)  ##########*/
.card{
    border: solid 1.5px grey;
    border-radius: 1rem;
    padding-bottom: 1rem;
    overflow: hidden; /* asegura bordes redondeados con headers */
}

/* Header de la 2da card (Web Dev Resources) */
.card > h3{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #1d4b73;
    color: whitesmoke;
    font-family: "Oxygen", sans-serif;
}

/*#######   MY SELF  ##########*/
.myself-title{
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #1d4b73;
    color: whitesmoke;
    border-radius: 1rem 1rem 0rem 0rem;
    font-family: "Oxygen", sans-serif;
}

.myself{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    font-family: "Funnel Sans", sans-serif;
}

.myself img{
    height: auto;
    width: 120px;
    transform: translateY(-1rem);
}

/*#######   FLAG  ##########*/
.title-flag{
    text-align: center;
    margin-left: 15rem;
    margin-right: 25rem;
    transform: translateY(-3rem);
    font-size: 1.5rem;
    font-family: "Funnel Sans", sans-serif;
}

.flag{
    text-align: center;
    transform: translateY(-1rem);
}

.flag-section{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 10rem;
    font-family: "Funnel Sans", sans-serif;
}

.flag img{
    width: auto;
    height: 100px;
    margin-bottom: 1rem;
}

/*#######   RESOURCES LIST  ##########*/
.list{
    margin-top: 2rem;
    margin-left: 2rem;
    padding-left: 1.2rem;
    font-family: "Funnel Sans", sans-serif;
}

.list li{
    margin-bottom: 0.5rem;
}

/*#######   FOOTER  ##########*/
footer{
    text-align: center;
    background-color: #1d4b73;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-family: "Oxygen", sans-serif;
}

/* Primer <p> (contiene el <span>) */
footer p:first-child{
    color: whitesmoke;
    padding-top: 0;
}

/* Segundo <p> (last modified) */
footer p:last-child{
    color: yellow;
    padding-top: 1rem;
}
