*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh ;
}

p,h1,h2,h3, a,span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fullscreen{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
/* HEADER */
.title{
    text-align: center;
    background-color:#1d4d72;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: whitesmoke;
    

}

.nav li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333333;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav li a{
    text-decoration: none;
    color: whitesmoke;
}

.boldtitle{
    color: yellow;
}


/* MAIN */
main{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0.5rem;
    margin: 1rem; 
}

article{
    border: solid 1px grey;
    border-radius: 10px 10px 10px 10px;
}

.section1{
    margin: 1rem;
    gap: 1rem;
}

.section1 p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 img{
    width: 200px;
    height: 150px;
    
}
/* ---------------- */
aside{
    border: solid 1px grey; 
    border-radius: 10px 10px 10px 10px;
}

.titlemain{
    text-align: center;
    background-color:#1d4d72;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem; 
}

.title{
    text-align: center;
    background-color:#1d4d72;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px 10px 0 0;
}

/* Section 1 */
.section1{
    display: flex;
}
/* Section 2 */

.section2{
    margin-left:1rem;
    margin-bottom: 1rem;
    margin-right: 20%;
}

.subtitle{
    margin-bottom: 0.3rem;
}

.subtitlecontainer{
    text-align: center;
    transform: translateY(-100%);
    margin-left: 3rem;
    margin-right: 3rem;
}

.section2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10%);
}

.flagsection{
    display: flex;
    gap: 1rem;
}

.flag{
    display: grid;
    align-items: center;
    justify-content: center;
    
}

.flag img{
    background-color: red;
    height: 70px;
    width: 120px;
}

figcaption{
    font-size: 12px;
    text-align: left;
}

.section3{
    margin-left: 2rem;
    height: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    
}


/* Section 3 */
footer{
    text-align: center;
    background-color:#1d4d72;
    color: whitesmoke;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}